@model EmployeeBranchVM
@{
	ViewData["Title"] = "AssignBranch";
	Layout = "~/Areas/Manager/Views/_LayoutAdminDark.cshtml";
}

<h3>ÇALIŞAN @Model.Employee.Name @Model.Employee.Surname- ŞUBE BİLGİLERİ</h3>

<form asp-action="AssignBranch" asp-controller="Admin" method="post">

<div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group">
	
        <input type="hidden" asp-for="Id" />
		<div >
			<span class="text-danger"
				  style="font-weight:bold;margin-right:3px;">
				*
			</span>
            <input type="hidden" asp-for="EmployeeId"/>
			<label>İl:</label>
				<select class="form-control" id="cityselect" asp-for="Branch.District.City.Id">
				<option value="0">***İl Seçiniz***</option>
				@foreach (var item in ViewBag.Cities as List<CityVM>)
				{
					<option value=@item.Id>@item.Name</option>
				}
			</select>
		</div>
        <br />
		<div >
			<span class="text-danger"
				  style="font-weight:bold;margin-right:3px;">
				*
			</span>
			<label>İlçe:</label>   
			<select class="form-control" id="districtSelect"   asp-for="Branch.DistrictId">
				<option value="0">***İlçe Seçiniz***</option>
					@foreach (var item in ViewBag.Districts as List<DistrictVM>)
					{
						<option value=@item.Id>@item.Name</option>
					}
			</select>
		</div>
        <br />
		<div >
			<span class="text-danger"
				  style="font-weight:bold;margin-right:3px;">
				*
			</span>
			<label>Şube:</label>
			<select class="form-control" id="branchSelect" asp-for="BranchId">
					@foreach (var item in ViewBag.Branches as List<BranchVM>)
					{
						<option value=@item.Id>@item.Name</option>
					}
			</select>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary container">
				ŞUBE ATA
			</button>
		</div>


	</div>


</form>
@section Scripts{
    <script>

        $(document).ready(function () {

         

            $("#cityselect").change(function () {

                // önce burada il değeri değişti anda ilçe ve mahalle comboları temizlenecek
                $("#districtSelect").empty();
                $("#districtSelect").append("<option selected value='0'>***İlçe Seçiniz***</option>");
                $("#districtSelect").attr("disabled", true);

                // hangi ili seçtiğine bakacağız

                var cityid = $("#cityselect").val(); // this.value

                if (cityid > 0) {
                    $.ajax({
                        type: "get",
                        url: '/CarrierCall/GetCityDistricts/' + cityid,
                        success: function (res) {
                            if (res.issuccess) {

                                console.log(res.data);
                                //döngü kurup her ilçeyi comboya aktaracapız
                                $.each(res.data, function () {
                                    $("#districtSelect").append("<option selected value=" + this.id + ">" + this.name + "</option>");


                                }); // döngü bitti

                                $("#districtSelect").attr("disabled", false); // aktif

                            }
                            else {
                                alert(res.message);
                            }
                        }, // success bitti
                        error: function (res) {
                            alert(res.message);
                        }
                    }); // ajax bitti
                } // if bitti

            });// cityselect bitti

            $("#districtSelect").change(function () {

                // önce burada il değeri değişti anda ilçe ve mahalle comboları temizlenecek
                $("#branchSelect").empty();
                $("#branchSelect").append("<option selected value='0'>***İlçe Seçiniz***</option>");
                $("#branchSelect").attr("disabled", true);

                // hangi ili seçtiğine bakacağız

                var districtid = $("#districtSelect").val(); // this.value
                console.log(districtid);

                if (districtid > 0) {
                    $.ajax({
                        type: "get",
                        url: '/CarrierCall/GetDistrictsBranch/' + districtid,
                        success: function (res) {
                            if (res.issuccess) {

                                console.log(res.data);
                                //döngü kurup her ilçeyi comboya aktaracapız
                                $.each(res.data, function () {
                                    $("#branchSelect").append("<option selected value=" + this.id + ">" + this.name + "</option>");


                                }); // döngü bitti

                                $("#branchSelect").attr("disabled", false); // aktif

                            }
                            else {
                                alert(res.message);
                            }
                        }, // success bitti
                        error: function (res) {
                            alert(res.message);
                        }
                    }); // ajax bitti
                } // if bitti

            });// cityselect bitti

        }); // document ready bitti



    </script>
}